<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Edit Exercise</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <form id="form">
              <div id="formFields"></div>
              <label for="impJoint" class="label">Most Important Joint</label>
              <div class="form-group">
                <select type="number" class="form-control" id="impJoint" aria-describedby="" placeholder="" value={{defaultJoint}}>
                  {{> jointList}}
                </select>
              </div>
              <label for="impAxis" class="label">Moving Pattern</label>
              {{> axis}}
              <label for="direction" class="label">Starting Direction</label>
              {{> direction}}
              <button id="update" type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
<<<<<<< Updated upstream
<script type="text/javascript" src="public/scripts/exercise/edit.js"></script>
<script>
  joiFormValue('exerciseName', '{{exercise.exerciseName}}');
  joiFormValue('description', '{{exercise.description}}');
  joiFormValue('Most Important Joint', '{{exercise.impAxis}}');
  joiFormValue('Starting Direction', '{{exercise.direction}}');
=======

<script type="text/javascript" src="/public/scripts/exercise/edit.js"></script>
<script>
  joiFormValue('exerciseName', '{{exercise.exerciseName}}');
  joiFormValue('description', '{{exercise.description}}');
  // joiFormValue('instructions', '{{exercise.instructions}}');
  // joiFormValue('videoURLs', '{{exercise.videoURLs}}');
  // joiFormValue('joint', '{{exercise.joint}}');
  // joiFormValue('axis', '{{exercise.axis}}');
  // joiFormValue('direction', '{{exercise.direction}}');
  // joiFormValue('refLowerJoint', '{{exercise.refLowerJoint}}');
  // joiFormValue('refUpperJoint', '{{exercise.refUpperJoint}}');
>>>>>>> Stashed changes
</script>
