<div class="container-fluid h-100">
  <div class="row">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px;">
        <div class="row mh1">
          <div class="col-md-8">
            <canvas id="bodyCanvas" class="bodyCanvas"></canvas>
          </div>
          <div class="col-md-4 text-center col-v-centered no-float">
            <div id="fistSection">
              <p id="line1">Current Exercise:</p>
              <div class= "small">
                <p>{{numRepetition}} {{exercise.exerciseName}}s</p>
                <p>Set {{setNumber}} of {{numSets}}</p>
              </div>
              <div id= "secondSection" class="blue">
                <h1 id="line4">To end the set,<h1>
                <h2 id="line5">click Stop.<h2>
              </div>
              <div>
                <button type="button" class="btn btn-primary" id="endSession" onclick="stop('{{numSets}}','{{numRepetition}}','{{setNumber}}')">STOP</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/public/css/styleSheet/play.css">
<script type="text/javascript" src="/public/scripts/userexercise/play.js"></script>
