<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div id="mainContent">

        <h1 class="how-to"> How To: {{exerciseName}} </h1>
        <hr>


        <!-- <div class="goal"> Goal: {{goal}} *{{exerciseId}} {{patientId}} *</div> -->
        <!-- <div class="test"> instructions: {{instructions}}</div> -->
        <div class="card">
        <div class="instructions">
          <ol>
            {{#each instructions}}
              <li class="text">{{ this }}</li>
            {{/each}}
          </ol>
        </div>
      </div>

      <div class="container" id="button-container">
      <div class="button-wrapper-2">
      <button type="button" id="ref-button-1" class="btn btn-primary video-btn" data-toggle="modal"

       data-src5="https://www.youtube.com/embed/Av8WcZ-7sPU"
       data-src7="https://www.youtube.com/embed/Av8WcZ-7sPU"




       data-target="#myModal">


        Play Video 1
      </button></div>

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary video-btn" id="ref-button-2" data-toggle="modal"

      data-src5="https://www.youtube.com/embed/Av8WcZ-7sPU"
      data-src7="https://youtube.com/embed/VLvZXDkVwys"









 data-target="#myModal">
Play Video 2
</button>

        <div class="button-wrapper-1">
          <a href ='/userexercise/setting/{{exerciseName}}/'><button class="btn btn-primary blueBackground white actionBtn">Continue</button></a>
        </div>
      </div>
        <br><br>


        <div class="container">
          <!-- <h1>Reference Video:</h1> -->


          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">


                <div class="modal-body">

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
                  <!-- 16:9 aspect ratio -->
                   <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always"></iframe>
                  </div>


                </div>

              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>

<script> let exerciseName = "{{exerciseName}}"; </script>
<script type="text/javascript" src="/public/scripts/userexercise/exerciseinfo.js"></script>
<script type="text/javascript" src="/public/scripts/userexercise/setting.js"></script>
<script type="text/javascript" src="/public/scripts/clinician.js"></script>
<link rel="stylesheet" href="/public/css/styleSheet/exerciseInfo.css">
