<div class="container-fluid h-100">
  <div style="padding: 30px;">
    <input hidden id="numSets">
    <input hidden="numReps">
    <div class="row">
      <div class="col-md-9">
        <canvas id="refCanvas" class="bodyCanvas" width="500px" height="500px"></canvas>
        <canvas id="outputCanvas" class="bodyCanvas" width="500px" height="500px"></canvas>
        <canvas id="exeCanvas" class="bodyCanvas" width="500px" height="500px"></canvas>
      </div>
      <div class="col-md-3 text-center col-v-centered no-float">
        <div class="black margin-top-p30">
          <p class="large">Current Exercise</p>
          <div class= "small" style="line-height: 15px;">
            {{#compare type 'practice'}}
              <p>{{formatName exercise.exerciseName}}</p>
              <p>Set {{setNumber}} of {{numSets}}</p>
              <p>{{numRepetition}} Repetitions</p>
              {{#compare mode 'play'}}
                  <p id="cntReps" class="commonBlue repsFont">0</p>
                  <p>repetitions completed.</p>
                  <p id="speedEval" style="color: grey"></p>
              {{/compare}}
            {{/compare}}

            {{#compare type 'reference'}}
              <p>{{formatName exercise.exerciseName}}</p>
              <p>Reference</p>
            {{/compare}}
          </div>
        </div>
        {{#compare mode 'end'}}
          <div class="curiousBlueColor secondSection">
            <p>Congratulations!</p>
            <p>You completed all your sets!</p>
          </div>
          {{#if user.roles.clinician}}
            <button type="button" class="btn btn-primary blueBackground white actionBtn" onclick="goTodashBoard()">Go to Patients page</button>
            <button type="button" class="btn btn-primary curiousBlue white actionBtn" onclick="goToExercises()" style="margin-top:10px;">Go to Exercises page</button>
          {{else}}
            <button type="button" class="btn btn-primary curiousBlue white actionBtn" onclick="goTodashBoard()">Go to Exercises page</button>
          {{/if}}
        {{/compare}}
        <div class="curiousBlueColor secondSection">
          {{#compare mode 'start'}}
            <p>To begin the set,</p>
            <p>click Start.</p>
          {{/compare}}
          {{#compare mode 'play'}}
            <div class="mt-4 mb-5">
              <p id="timerStart" class="orangeColor small"></p>
              <p id="num" class="orangeColor"></p>
            </div>

            <p>To end the set,</p>
            <p>click Stop.</p>
          {{/compare}}

          {{#compare mode 'stop'}}
            <p>Set ended.</p>
            <p class="small">What would you like to do?</p>
          {{/compare}}
        </div>
        <div>
          {{#compare mode 'start'}}
            <button type="button" class="btn btn-primary blueBackground white actionBtn" onclick="action('play','{{type}}')">START</button>
          {{/compare}}
          {{#compare mode 'play'}}
              <button type="button" class="red white actionBtn btn btn-primary actionBtn" onclick="action('stop', '{{type}}')">STOP</button>
          {{/compare}}
          {{#compare mode 'stop'}}
            {{#compare type 'reference'}}
              <button class="btn btn-primary blueBackground white actionBtn" onclick="saveReference()">SAVE REFERENCE</button>
            {{/compare}}
            {{#compare type 'practice'}}
              <button class="btn btn-primary blueBackground white actionBtn" onclick="savePractice()">SAVE SET</button>
            {{/compare}}
            <button class="btn btn-primary red actionBtn" id="discard" onclick="action('start', '{{type}}')">DISCARD & RESTART</button>
          {{/compare}}
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/public/css/styleSheet/session.css">
<link rel="stylesheet" href="/public/css/styleSheet/color.css">
<link rel="stylesheet" href="/public/css/styleSheet/genericStyles.css">
<script>
  //handlebars variables to pass into session.js
  let setNumber = {{setNumber}};
  let numSets = {{numSets}};
</script>
<script type="text/javascript" src="/public/scripts/userexercise/session.js"></script>
<script src="/public/data.js"></script>
<script src="/public/bundle.js"></script>
