<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div class="row justify-content-center text-center">
        <div class="col-xl-10">
          <p id="title">Let's review the exercise details.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-xl-6">
          <input type="hidden" id="updateSettingIsPushed" value='false'>
          <div class="row justify-content-center text-center">
            <div class="col-xl-6">
              <form id="loginForm" style="padding-top:20px; padding-left:20px;">
                <div class="form-group">
                  <label for="numSets" class="label">Number of Sets</label>
                  <input type="number" class="form-control" id="numSets" aria-describedby="" placeholder="Enter a number" value={{defaultNumSets}}>
                </div>
                <div class="form-group">
                  <label for="numReps" class="label">Number of Repetitions</label>
                  <input type="number" class="form-control" id="numReps" aria-describedby="" placeholder="Enter a number" value={{defaultNumReps}}>
                </div>
                <div class="form-group">
                  <label for="difficultyLevel" class="label">Difficulty Level</label>
                  <select class="form-control" id="diffLevel">
                    <option value="0.9">Hard</option>
                    <option value="0.75" selected="selected">Medium</option>
                    <option value="0.5">Easy</option>
                  </select>
                </div>
               {{#if referenceExists}}
               <a id="save" href="">Update settings</a>
               {{else}}
               <a id="save" href="">Update settings</a>
               {{/if}}
             </form>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
         <div class="row">
            <div class="col-xl-11">
              <div class="row">
                <div class="col">
                  <p id ="refExercise">Reference Exercise <br></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                   <p id="patientName">{{formatName patientName}}
                    {{#if referenceExists}}
                      has a reference exercise for
                    {{else}}
                      does not have a reference
                    {{/if}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                   {{#if referenceExists}}
                     <p id ="exerciseName">{{formatName exerciseName}}.</p>
                   {{else}}
                     <p id ="pExerciseName">exercise for <span id="sExerciseName"> {{formatName exerciseName}}.</span></p>
                   {{/if}}
                </div>
              </div>
              {{#if referenceExists}}
              <div class="row">
                <div class="col">
                   <a id="update" href="">Update reference exercise</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                   <a id="start" href="">Start exercise session</a>
                </div>
              </div>

             {{else}}
             <div class="row" style="margin-top:30px;">
                <div class="col">
                   <a id="createRef" href="">Create reference exercise</a>
                </div>
              </div>
             {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="public/css/styleSheet/setting.css">
<script type="text/javascript" src="public/scripts/userexercise/setting.js"></script>
<script>
  let defaultDiffLevel = {{defaultDiffLevel}};
  let doesReferenceExist = {{referenceExists}};

  console.log(defaultDiffLevel);
  let diffLevel = document.getElementById('diffLevel');
  for (let i = 0; i < diffLevel.options.length; ++i) {
    if (parseFloat(diffLevel.options[i].value) !== defaultDiffLevel) {
      diffLevel.options[i].selected = false;
    } else {
      diffLevel.options[i].selected = true;
    }
  }
</script>





